.board{
  width: 800px;
  height: 800px;
  margin-left: 550px;
  display: flex;
  flex-direction: column;
  .row{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .square{
      width: 100px;
      height: 100px;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }.even{
    .square:nth-child(odd){
      background: var(--white);   
    }
    .square:nth-child(even){
      background: var(--black);
    }
  }
  .odd{
    .square:nth-child(odd){
      background: var(--black);   
    }
    .square:nth-child(even){
      background: var(--white);
    }
  }
}